<% include partials/header %>
<div class="container">
  <header class="jumbotron">
    <h1>Welcome to Good Eats</h1>
  </header>
  <a href="restaurants">Look at all the restaurants</a>
</div>
<% include partials/footer %>